<h1>{{title}}</h1>

<!-- <div class="contianer">
  <div style="text-align:center">
    <apx-chart
      #chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [title]="chartOptions.title!"
    ></apx-chart>
  </div>
</div> -->

<apx-chart
  #chart
  [series]="chartOptions.series!"
  [chart]="chartOptions.chart!"
  [xaxis]="chartOptions.xaxis!"
  [yaxis]="chartOptions.yaxis!"
  [labels]="chartOptions.labels!"
  [stroke]="chartOptions.stroke!"
  [title]="chartOptions.title!"
  [dataLabels]="chartOptions.dataLabels!"
></apx-chart>




